<div class="container">
    <button (click)="drawHeart()">Da clic</button>
    <svg *ngIf="heartVisible" class="heart" viewBox="0 0 24 24">
      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3 9.24 3 11 4.1 12 5.09 13 4.1 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
    </svg>
    <div class="message" *ngIf="heartVisible">
      Feliz Día De La Psicóloga a la futura mejor Psicóloga, te amo. Estoy increíblemente orgulloso de ti y de todo lo que haces. Estoy seguro de que en el futuro ayudarás a muchas personas ejerciendo tu profesión. Eres mi inspiración, y no puedo esperar a seguir compartiendo contigo todos los días maravillosos que vienen. 🌟💖💖
    </div>
    <img *ngIf="heartVisible" src="assets/foto.jpg" alt="Imagen especial" class="special-image">
  </div>
  
